<!doctype html>
<html>
 <head>
  <title>How to get data from MySQL with AngularJS - PHP</title>
  <script src="./../angular.js"></script>
</head>
 <body ng-app='myapp'>

  <div ng-controller="userCtrl">
 
  <table >
 
  <tr>
  <th>First name</th>
  <th>Last name</th>
  <th>Username</th>
  </tr>
  
  <!-- Display records -->
  <tr ng-repeat="user in users">
  <td>{{user.idPerfil}}</td>
  <td>{{user.nombrePerfil}}</td>
  </tr>
 
  </table>
  </div>
 
 </body>
 <script>
	var fetch = angular.module('myapp', []);
	
	fetch.controller('userCtrl', ['$scope', '$http', function ($scope, $http) {
	 $http({
	  method: 'get',
	  url: 'http://localhost/TwT/server/listaPerfil.php'
	 }).then(function successCallback(response) {
	  // Store response data
	  $scope.users = response.data;
	 });
	}]);
	
	</script>
</html>